* {
  font-family: sans-serif;
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(120deg, #f700ff, #8400ff);
}
h1 {
  color: white;
  margin-top: 140px;
  text-align: center;
  font-size: 60px;
}
.nav {
  height: 75px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav a {
  font-weight: bold;
  color: white;
  text-decoration: none !important;
  margin: 40px;
}
.nav a:hover {
  height: 100%;
  align-items: center;
}
.try-btn {
  margin-top: 20px;
  background-color: #8105bb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat button {
  margin-top: 20px;
  background-color: #8105bb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}
#prompt {
  margin-top: 30px;
  font-size: large;
  color: black;
  border-radius: 10px;
}
.response {
  background: white;
  border-radius: 10px;
  border: black solid 2px;
}
